<h1>Trouve un professionel de ton choix </h1>
<p>Choisie un coach,babysiter ou un kiné </p>

<% @professionels.each do |pro| %>
 <div class="card-product">
 <% if pro.photo.attached? %>
  <%= cl_image_tag pro.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <% end %>
  <div class="card-product-infos">
    <h2><%=pro.category %></h2>
    <p><%= pro.name %> Adress: <%= pro.adress %> Prix: <%= pro.tarif %>
    </p>
  </div>
</div>
<%= link_to "book this coach", new_professionel_booking_path(pro,@booking), class:"btn btn-success"%>
<%= link_to "edit", edit_professionel_path(pro),class:"btn btn-primary" %>
            <%= link_to "",
            professionel_path(pro),
            method: :delete,
            class: "fa fa-trash",
            data: { confirm: "Are you sure?" } %>
<%= link_to "voter",new_professionel_review_path(pro,@review) %>
</p>


<%end %>
<br>


<%= link_to "create new professionel", new_professionel_path, class:"btn btn-primary"  %>


